*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.register_section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.register_section .main_img{
    position: relative;
    width: 50%;
    height: 100%;
}

.register_section .main_img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section .main_img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register_section .content{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.register_section .content .form{
    width: 50%;
}

.register_section .content .form h2{
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #607db8;
    display: inline-block;
    letter-spacing: 1px;
}

.register_section .content .form .form_input{
    margin-bottom: 20px;
}
.register_section .content .form .form_input span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

.register_section .content .form .form_input input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607db8;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607db8;
    background: transparent;
    border-radius: 30px;
}
.register_section .content .form .btn button{
    background: #607db8;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    height: 150%;
}
